
= render 'bootstrap3_carousel'


%section#home-productos.container
  .region
    .region-inner
      %h2.title titulo
    .region-inner
      %h2.title titulo
    .region-inner
      %h2.title titulo
    .region-inner
      %h2.title titulo
     


= render 'shared/siguenos_facebook'


%section#clientes-list
  .container
    .region
      .region-title
        %h2.title Clientes
        Confían en Laboral Medical
      .region-inner
        - @clientes.each do |cliente|
          = image_tag cliente.logo_url(:thumb)
