<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=231889076968885";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<section id="siguenos-facebook" class="container region-centered">
  <div class="region">
    <div class="region-inner">
       <h2 class="title">
         Síguenos en Facebook
       </h2>
       <span class="subtitle">Subtítulo</span>
         <div class="fb-like-box" data-href="https://www.facebook.com/pages/Laboral-Medical-Service-EIRL/275466269186823?fref=ts" data-width="940" data-height="260" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="false"></div>
    </div>
  </div>
</section>
