<section id="siguenos-facebook" class="container region-centered">
  <div class="region">
    <div class="region-inner">
       <h2 class="title"> 
         Síguenos en Facebook
       </h2>
       <span class="subtitle">Subtítulo</span>





    </div>
  </div>
</section>
