%ul.social-links.clearfix
  %li
    = link_to content_tag(:i, '', class: 'icon mail'), '', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'icon location'), '', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'icon facebook'), '', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'icon telefono'), '', target: '_blank'






