%ul.social-links.clearfix
  %li
    = link_to content_tag(:i, '', class: 'icon mail_small'), 'mailto:info@laboralmedicalperu.com'
  %li
    = link_to content_tag(:i, '', class: 'icon location_small'), new_contacto_path
  %li
    = link_to content_tag(:i, '', class: 'icon facebook_small'), 'http://www.facebook.com/laboralmedicals', target: '_blank'
  %li
    = link_to content_tag(:i, '', class: 'icon telefono_small'), new_contacto_path





