= encabezado('Consultorías', '/assets/encabezado.jpg', '/assets/icono-consultorias.png', true)



#region-consultorias.container
  .region
    .region-inner
      %h2.title Servicios
      %ul
        = render('lista')
    .region-inner
      %h2.title ¿Por qué elegirnos?
      %p
        Laboral Medical: salud Ocupacional, se centra en la atención personalizada, estamos enfocados en identificar las necesidades de cada organización o profesional que recurre a nosotros, para poder brindarles los mejores servicios que permitan mejorar el ambiente laboral en cada una de sus instituciones. Además, nuestro staff está compuesto por un grupo de profesionales especializado en cada una de sus áreas lo que garantiza la calidad de nuestros servicios.
      %p
        Siete años de experiencia trabajando con principales empresas del país nos respaldan



