
.navbar-default,
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border: 0; margin: 0}

.navbar-default {
  .navbar-nav {
    & > li {
      margin-left: 20px;
      & > a, & > span {text-transform: uppercase; padding: 0}
      &.last {
        a, span {padding-right: 0}
      }  
    }
  }
  @media (max-width:640px) { 
    .navbar-collapse.collapsing, 
    .navbar-collapse.in {
      li {
        margin: 0 0 1px; display: block;
        a, span {background: $crema; color: white; text-align: center; padding: 10px; display: block;
          &:hover {background: darken($crema, 15%)}
        }
        span {background: darken($crema, 15%)}
      }
    }
  }
}

#logo {position: relative; z-index: 200; margin-top: 20px; margin-bottom: 20px;
  @extend .clearfix;
  a {padding: 0}
}

#main-footer {
  background: black; padding: 40px 0 5px; text-transform: uppercase;
  li { text-align: center; }
  * {color: #959595}
  a { word-wrap: break-word}
  i {margin-bottom: 15px !important}
  .region-title, .region-inner {margin-bottom: 0}
}

#carousel-generic {
    @extend .default-bottom;
}
section {
  .region-inner {
    @extend .default-bottom;
  }
}
#carousel-generic {
  .carousel-inner {
    img {width: 100%}
    .carousel-caption {
      bottom: auto; top: 30px; left: 8%;
      p {font-size: $caption; text-align: left; font-weight: 900}
    }
  }
}

#home-productos {
  .region-inner {
    img {margin-top: 3px; @extend .image-left}
  }
}

.encabezado {
  @extend .default-bottom;
  .container { 
    position: relative;
    h2 {@include absolute(left, top, 0, 0); margin-top: 8%}
    .btn-back {@include absolute(right, top, 0, 0); margin-top: 9%}
  }
  img.title-pic {width: 100%}
}

.btn-back {}

.reel {@extend .clearfix}

ul {
  @include no-bullet;
}

$icons-sprite-dimensions: true;
@import "icons/*.png"; /**/
@include all-icons-sprites;

#main-header {
  .social-links {@extend .visible-lg; @extend .visible-md}
  i.icon {
    display: block; margin-left: 10px;
    &.mail_small {@include icons-sprite(mail_small)}
    &.location_small {@include icons-sprite(location_small)}
    &.facebook_small {@include icons-sprite(facebook_small)}
    &.telefono_small {@include icons-sprite(telefono_small)}
  }
}

#main-footer {
  .social-links {@extend .default-bottom; padding-left: 0}
  i.icon {
    display: block; margin: 0 auto;
    &.mail {@include icons-sprite(mail)}
    &.location {@include icons-sprite(location)}
    &.facebook {@include icons-sprite(facebook)}
    &.telefono {@include icons-sprite(telefono)}
  }
}

 .social-links p,
 .social-links li {text-align: center}

.icon i.icon_post {@include icons-sprite(icon_post); @extend .image-left}

input,
textarea {@extend .custom-border}

.btn-more {@extend .custom-border; color: black; padding: 10px 20px;
  p + & {float:left; clear:left; margin: 20px 0 }
}

.icons {
  i {
    display: block; margin: 0 auto;
    &.map_small {@include icons-sprite(map_small)}
    &.contact_small {@include icons-sprite(contact_small)}
    &.phone_small {@include icons-sprite(phone_small)}
    &.cellphone_small {@include icons-sprite(cellphone_small)}

  }

  #region-address & {
    padding: 0;
    i {float: left; margin: 5px 10px 0 0}
    p {overflow: hidden}
  }
}

.icon_avion {@include icons-sprite(icon_avion); @include inline-block}

.social-links {
  #main-header & {
    float: right; text-align: right;
    li {@include inline-block}
  }
  #main-footer & {

  }
}

.region-title {
  @extend .default-bottom;
  .encabezado & {
    margin: 0
  }
}
.region-alt {
  background: $crema; padding-top: 50px;
  @extend .region-centered;
  h2.title, .subtitle {color: white}
}


#siguenos-facebook {
  @extend .region-iframe-responsive;
}
#region-clientes {
  .subtitle {@extend .default-bottom}
  .region-inner {text-align: center}
}


#region-form {
  form {@extend .custom-border; @extend .clearfix;
    fieldset {@extend .well}
  }
}

#region-staff {
  .region-inner {
    text-align: center;
    img {@extend .img-circle; overflow: hidden}
    h3, h4 {margin-bottom: 8px}
  }
}
#region-staff-show {
  h3.title,
  h4.subtitle {text-align: center}
  h3.title {font-weight: bold}
  img {@extend .img-circle; overflow: hidden}
}

.reel,
#region-fortalezas,
#region-blog {
  @extend .region-img-responsive;
}

.map-wrapper {@extend .default-bottom;}
.not-front {
  .region-inner {
    @extend .default-bottom;
  }
}

#region-consultorias,
#region-servicios {
  @extend .gallery-list;
}

#region-fortalezas {
  img {margin-bottom: 10px}
}

#region-blog {
  @extend .gallery-list-alt
}

aside {
  .region-inner {
    margin-bottom: 30px !important
  }
}


form {
  input[type="text"], input[type="password"], input[type="email"], textarea {@extend .form-control; margin-bottom: 20px}
  input[type="submit"] {@extend .btn; @extend .btn-default; @extend .btn-lg; margin-top: 0px}
}
#region-form form fieldset {border: 0}

#contacto-title {
  position: relative; z-index: 100;
  
  * {margin-bottom: 0}
  h2.title {@include absolute(top, left, 80px, 0);
    i {margin-top: -10px}
  }
}


.admin-control { margin-bottom: 30px;
  .new {@extend .btn; @extend .btn-primary; @extend .btn-lg}
}

.admin-controls {
  .dropdown-menu {left: auto; right: 0}
}

.btn-edit {
  @extend .btn;
  @extend .btn-success;
  @extend .btn-lg;
}

